extends layout

block content
  h1 NC Historical Markers by County
  p Welcome to #{title}

  ul
    each county in counties
      li
        a(href=`./county/${county._id}`) 
          =`${county._id} with ${county.numMarkers} markers`
