extends layout

block content
  h1 State Historical Markers in #{county} County, North Carolina
  p
  ul
    each marker in markers
      li
        a(href=`../marker/${marker.markerID}`) 
          =`${marker.markerID} - ${marker.title}`
  p
  a(href="../search.html") Return to search page
  p

