doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/basestyles1.css')
    
  body
    header
      div.home 
        a(href='https://www.ncdcr.gov/')
          img(class="logo" src='NC_logo.png')
        a(id="nav-link" href="../home.html") Home
        a(id="nav-link" href="../index1.html") Search 
        
    block content
