doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/basestyles1.css')
    meta(charset="utf-8") 
  body
    div.home 
      a(href='https://www.ncdcr.gov/')
        img(class="logo" src='/NC_logo.png')
      a(id="nav-link" href="../home.html") Home
      a(id="nav-link" href="../index1.html") Search 
      a(id="nav-link" href="../about.html") About

    block content
  footer
      div 
        | © 2008 North Carolina Office of Archives & History -  Department of Cultural Resources