doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/basestyles1.css')
    meta(charset="utf-8") 
  body
    block content
  footer
    div 
    | © 2008 North Carolina Office of Archives & History -  Department of Cultural Resources 